<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>一休哥</string>
	<string>生日歌</string>
	<string>外婆桥</string>
	<string>七色光之歌</string>
	<string>蓝精灵</string>
	<string>读书郎</string>
	<string>叮当猫</string>
	<string>黑猫警长</string>
	<string>葫芦娃</string>
	<string>世上只有妈妈好</string>
	<string>天鹅湖</string>
	<string>让我们荡起双桨</string>
	<string>西游记</string>
	<string>蜗牛</string>
	<string>拔萝卜</string>
	<string>春天在哪里</string>
</array>
</plist>
